body, html {
    font-family: Verdana, serif;
    background-color: #ECBEC5;
    display: inline-block;
	flex-direction: column;

}*{
    margin: 0;
    padding: 0;
    
}

.logo-header1 {
    height: 40px;
    margin-right: 10px;
}

.Crush {
    margin: 0;
    font-size: 24px;
    color: #721121;
}

.login {
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 40vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.registration-container {
    background-color: #f3d1d6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -7px 10px 4px 0px rgba(125, 41, 53, 0.5);
    text-align: center;
    width: 300px;
    margin: 20px 0;
}

.registration-container h1 {
    margin-bottom: 20px;
    color: #721121;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #8B494C;
    border: 3px solid #ECBEC5;
    background-color: #ECBEC5;
}

footer {
    height: 97px;
    bottom: 0;
    position: absolute;
}

footer h2 {
    position: absolute;
    left: 1%;
    margin-top: 110px;
    font-size: 17px;
}

footer {
    position: absolute;
    background-color: #DF6B7C;
    width: 100%;
    color: #772732;
}

.foot {
    position: absolute;
    margin-top: 65px;
    border-radius: 24%;
    font-family: 'Noto Sans JP';
}

.footik {
    position: absolute;
    height: 70px;
    width: 255px;
    margin-top: 13px;
    border: 3px solid #772732;
    border-radius: 17px 17px 17px 17px;
    right: 3%;
}

.logo-header2 {
    width: 35px;
    position: absolute;
    margin-left: 1670px;
    margin-top: 50px;
}

.logo-header3 {
    width: 35px;
    position: absolute;
    margin-left: 1720px;
    margin-top: 50px;
}

.logo-header4 {
    width: 35px;
    position: absolute;
    margin-left: 1770px;
    margin-top: 50px;
}

.logo-header5 {
    width: 35px;
    position: absolute;
    margin-left: 1820px;
    margin-top: 50px;
}

.logo-header6 {
    width: 35px;
    position: absolute;
    margin-top: 18px;
    margin-left: 10px;
}

.logo-header7 {
    width: 35px;
    position: absolute;
    margin-left: 60px;
    margin-top: 18px;
}

.logo-header8 {
    width: 35px;
    position: absolute;
    margin-left: 110px;
    margin-top: 18px;
}

.logo-header9 {
    width: 35px;
    position: absolute;
    margin-left: 160px;
    margin-top: 18px;
}

.logo-header10 {
    width: 35px;
    position: absolute;
    margin-left: 210px;
    margin-top: 18px;
}

.otaku {
    display: flex;
    align-items: last baseline;
}

.Crush {
    position: absolute;
    padding-left: 3%;
    position: absolute;
    margin-top: 1.7%;
    font-size: 32px;
    font-family: "Noto Sans JP";
    font-weight: 400;
}

.logo-header1 {
    width: 55px;
    height: 55px;
}

header h3 {

    margin-top: 20px;
    left: 4%;
}
header {
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    background-color: #DF6B7C;
    width: 100%;
    color: #772732;
}

.custom-btn {
    width: 140px;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ECBEC5;
    font-family: 'Noto Sans JP';
    font-weight: 800;
    color: #7D2935;
    z-index: 2;
    border: 3px solid #772732;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
}  